.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    width: 50%;
  }
  .close-button {
    float: right;
    border: none;
    background: none;
    font-size: 20px;
    cursor: pointer;
  }
  .modal .modal-content .submit{
    background-color: #65b4f1;
    padding: 5px;
    margin-top: 20px;
    width: 100%;
    border: rgba(255, 222, 173, 0);
  }
  .modal .modal-content .submit:hover{
    background-color: #379fef;
    cursor: pointer;
  }
  .modal .modal-content .select{
    margin-left: 5px;
    padding: 5px;
  }
  .modal .modal-content .formgrouptime{
    margin-top: 6px;
 }
