.Modal2Group{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;

  .ModalContent{
    width: 600px;
    // background-color: white;
    // height: 300px;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // flex-direction: column;
    // gap: 20px;
  }
  .main{
    display: flex;
    gap: 20px;
    .left{
      width: 500px;
    }
  }
  button{
    display: inline;
    width: 100px;
  }
}