.Modal2Group {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.Modal2Group .ModalContent {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.Modal2Group .ModalContent .CloseButton {
  margin-right: -30px;
  float: right;
  cursor: pointer;
}

.Modal2Group .ModalContent section {
  margin-bottom: 20px;
}

.Modal2Group .ModalContent label {
  display: block;
  margin-bottom: 5px;
}

.Modal2Group .ModalContent select, input[type="datetime-local"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.Modal2Group .ModalContent .MainBtn {
  width: 100%;
  padding: 10px;
  color: rgb(65, 24, 24);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.Modal2Group .ModalContent .MainBtn:hover {
  background-color: #0056b3;
}
