/* New Assignment Page */
:root {
  --mainBackGround: #f5fbf9;
  --mainColor: #0082e6;
  --secondText: #65b4f1;
  --textColor: var(--mainColor);
  --headerColor: #0082e6;
  --text-monem: rgb(20, 19, 19);
  --btnB: #266bf5c1;
  --btnB-hover: #266bf5;
  --sidebar-expanded-margin: 200px;
  --sidebar-default-margin: 70px;
  --mainText: black;
  --secondaryText: #777;
  --chartBack: rgba(255, 255, 255, 0.277);
  --currentDay: #a2d1fd;
  --profile: #a2d1fd;
  --shadow: rgba(0, 0, 0, 0.256);
}
[theme="Dark"] {
  --mainColor: #4d8ba8;
  --mainBackGround: #1b343c;
  --secondText: #65b4f1;
  --textColor: #96bdcf;
  --headerColor: #4d8ba8;
  --text-monem: rgb(230, 230, 230);
  --btnB: #4d8ba8;
  --btnB-hover: #356981;
  --mainText: white;
  --secondaryText: #a9a9a9;
  --currentDay: #ffd269;
  --profile: #4d8ba8;
  --shadow: rgba(255, 255, 255, 0.256);
}
/* Container */
.newAssignmentPage-container .newAssignmentPage-content {
  display: flex;
  padding: 5%;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

/* Content */
.newAssignmentPage-container .newAssignmentPage-content {
  padding: 20px;
  background-color: var(--mainBackGround);
  border-radius: 8px;
  /* box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); */
}

/* Title */
.newAssignmentPage-container
  .newAssignmentPage-content
  .newAssignmentPage-title {
  font-size: 1.5em;
  margin-bottom: 15px;
}

/* Form Group */
.newAssignmentPage-container
  .newAssignmentPage-content
  .newAssignmentPage-formGroup {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Input Item */
.newAssignmentPage-container
  .newAssignmentPage-content
  .newAssignmentPage-formGroup
  .newAssignmentPage-inputItem {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* Input Field */
.newAssignmentPage-container
  .newAssignmentPage-content
  .newAssignmentPage-formGroup
  .newAssignmentPage-inputItem
  .newAssignmentPage-inputField {
  margin-top: 6px;
  border-radius: 7px;
  border: 1px solid rgba(170, 169, 169, 0.823);
  padding: 10px;
  font-size: 1rem;
}

/* Category List */
.newAssignmentPage-container
  .newAssignmentPage-content
  .newAssignmentPage-formGroup
  .newAssignmentPage-inputItem
  .newAssignmentPage-categoryList {
  margin-top: 10px;
  max-height: 100px;
  overflow-y: auto;
  border: 1px solid rgba(128, 128, 128, 0.478);
  border-radius: 4px;
  padding: 10px;
}
.newAssignmentPage-container
  .newAssignmentPage-content
  .newAssignmentPage-weekList {
  margin-left: 10px;
  margin-top: 10px;
  max-height: 100px;
  overflow-y: auto;
  border: 1px solid rgba(128, 128, 128, 0.478);
  border-radius: 4px;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two equal-width columns */
  gap: 10px; /* Space between items */
}
/* Submit Button */
.newAssignmentPage-container
  .newAssignmentPage-content
  .newAssignmentPage-submitButton {
  background-color: #65b4f1;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  width: 100%;
  margin-top: 20px;
  cursor: pointer;
  color: white;
}

.newAssignmentPage-container
  .newAssignmentPage-content
  .newAssignmentPage-submitButton:hover {
  background-color: #379fef;
}
@media screen and (min-width: 600px) {
  .newAssignmentPage-container .newAssignmentPage-content {
    padding-left: 20%;
    padding-right: 20%;
  }
}
@media screen and (min-width: 1000px) {
  .newAssignmentPage-container .newAssignmentPage-content {
    padding-left: 30%;
    padding-right: 30%;
  }
}
#UploadedSuccessfuly {
  width: 100%;
  text-align: center;
  color: rgb(29, 217, 29);
  margin-top: 20px;
}
