:root {
  --mainBackGround: #f5fbf9;
  --mainColor: #0082e6;
  --secondText: #65b4f1;
  --textColor: var(--mainColor);
  --headerColor: #0082e6;
  --text-monem: rgb(20, 19, 19);
  --btnB: #266bf5c1;
  --btnB-hover: #266bf5;
  --sidebar-expanded-margin: 200px;
  --sidebar-default-margin: 70px;
  --mainText: black;
  --secondaryText: #777;
  --chartBack: rgba(255, 255, 255, 0.277);
  --currentDay: #a2d1fd;
  --profile: #a2d1fd;
  --shadow: rgba(0, 0, 0, 0.256);
}
[theme="Dark"] {
  --mainColor: #4d8ba8;
  --mainBackGround: #1b343c;
  --secondText: #65b4f1;
  --textColor: #96bdcf;
  --headerColor: #4d8ba8;
  --text-monem: rgb(230, 230, 230);
  --btnB: #4d8ba8;
  --btnB-hover: #356981;
  --mainText: white;
  --secondaryText: #a9a9a9;
  --currentDay: #ffd269;
  --profile: #4d8ba8;
  --shadow: rgba(255, 255, 255, 0.256);
}
.fullProfessorPage {
  padding-top: 16px;
  width: 80%;
  margin: auto;
}
.fullProfessorPage .container.AssignmentSection {
  width: 60%;
  margin-top: 10px;
}
.fullProfessorPage .BBBBBB {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.fullProfessorPage .BBBBBB .filterOptions .Filteroption {
  margin-right: 10px;
  margin-left: 5px;
  cursor: pointer;
  color: #979797;
  font-weight: 700;
  font-size: 14px;
}
.fullProfessorPage .BBBBBB .filterOptions .selected {
  font-weight: bolder;
  color: var(--text-monem);
}
.fullProfessorPage .AssignmentSection .BBBBBB .FilterandSorting {
  display: flex;
  width: 20%;
  /* margin-left: 140px; */
}
.fullProfessorPage .AssignmentSection .BBBBBB .FilterandSorting .filterOptions {
  margin-right: 10px;
}
.fullProfessorPage .FilterandSorting .sortingOption {
  margin-right: 10px;
  cursor: pointer;
}
.fullProfessorPage .FilterandSorting .sortingOptions .selected {
  color: blue;
}
.fullProfessorPage .FilterandSorting .sortingOptions {
  margin-left: 10px;
}

.fullProfessorPage .container.AssignmentSection .profDB_UpperButtons {
  display: flex;
}
.fullProfessorPage
  .container.AssignmentSection
  .profDB_UpperButtons
  .profDB_UpperButton {
  margin-right: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}
.GroupsModal {
  width: 40vw;
  height: 60vh;
  width: 100%;
}
.GroupsModal .GroupsModalContent {
  height: 96%;
  overflow-y: scroll;
}
.cateogriesModal {
  width: 100%;
  height: 60vh;
}
.cateogriesModal .categoriesList {
  height: 90%;
  overflow-y: scroll;
  margin-bottom: 4px;
}
.cateogriesModal .categoriesList .categoriesListItems {
  padding: 10px;
  margin-bottom: 2px;
}
.cateogriesModal .categoriesList .categoriesListItems .categoriesListItem {
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  background-color: var(--mainBackGround);
  color: var(--secondaryText);
  border: var(--btnB) 2px solid;
  border-radius: 15px;
  font-weight: 1000;
  display: flex;
  justify-content: space-between;
  min-width: 300px;
}
.cateogriesModal .categoriesList .categoriesListItems .categoriesListItem p {
  width: 40%;
}

.cateogriesModal .categoriesList .categoriesListTitle {
  text-align: center;
  margin-bottom: 3px;
  margin-top: 3px;
}
.cateogriesModal .addCategoryBtn {
  width: 100%;
}
.cateogriesModal .closebtn {
  color: rgba(0, 0, 0, 0.826);
}
.cateogriesModal .closebtn:hover {
  font-weight: bold;
  color: black;
  scale: 1.03;
}

.fullProfessorPage .container.AssignmentSection .sectionTitle {
  font-size: 25px;
  font-weight: bold;
  padding: 16px 0 8px;
  color: var(--mainText);
  width: 100%;
}
.fullProfessorPage .container.AssignmentSection .AssCard {
  box-shadow: 0px 5px 13px 0px var(--shadow);
  margin-top: 24px;
  margin-bottom: 7px;
  margin-right: 3px;
  margin-left: 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  border: 1px solid #345ff0;

  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.fullProfessorPage .container.AssignmentSection .AssCard .info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.fullProfessorPage .container.AssignmentSection .AssCard .info .name {
  font-size: 20px;
  font-weight: bold;
  text-transform: capitalize;
  color: var(--mainText);
}
.fullProfessorPage .container.AssignmentSection .AssCard .info .Details {
  color: var(--secondaryText);
}
.fullProfessorPage .container.AssignmentSection .AssCard .grade {
  font-size: 20px;
  font-weight: bold;
  color: var(--secondaryText);
}
.fullProfessorPage .container.AssignmentSection .AssCard button {
}
.fullProfessorPage .container.AssignmentSection .AssCard .state {
  padding: 16px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-transform: capitalize;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.fullProfessorPage .container.AssignmentSection h5 {
  color: #7b7b7b;
  margin-top: 20px;
}
.fullProfessorPage .cardAssignment {
  max-height: 300px;
  overflow-y: auto;
  padding: 0px 8px;
}
.cardAssignment::-webkit-scrollbar {
  display: none;
}

.fullProfessorPage .cc1 {
  float: left;
  width: 60%;
  margin-right: -100px;
  margin-top: 40px;
} /*# sourceMappingURL=StudentDB.css.map */
.fullProfessorPage .calender {
  display: flex;
  flex-direction: column;
  align-items: center;
  float: right;
  margin-top: 50px;
  box-shadow: 0px 5px 13px 0px rgba(0, 0, 0, 0.45);

  background-color: var(--currentDay);
  h2 {
    text-align: center;
  }
  .react-calendar {
    background-color: rgb(255, 255, 255);
    border: rgba(128, 0, 0, 0);
  }
  .react-calendar__tile--now {
    background-color: var(--currentDay);
  }
}
.fullProfessorPage .upper {
  display: flex;
  justify-content: space-between;
}

.fullProfessorPage .userProfile .TEXT {
  margin: 30px;
}
.fullProfessorPage .userProfile p {
  margin-top: 10px;
}
@media screen and (max-width: 1080px) {
  .fullProfessorPage .upper {
    flex-direction: column-reverse;
  }
  .fullProfessorPage .container.AssignmentSection {
    width: 100%;
    height: 100%;
  }

  .fullProfessorPage .cc1 {
    width: 100%;
    height: 300px;
  }
  .fullProfessorPage .calender {
    margin-right: 6px;
  }
  .fullProfessorPage .calender {
    width: 100%;
  }
  .react-calendar {
    width: 100%;
  }
}

/* ---------------------- MODAL ----------------------- */
.close-button {
  float: right;
  border: none;
  background: none;
  font-size: 20px;
  cursor: pointer;
}
.modal-content .submit {
  background-color: #65b4f1;
  padding: 5px;
  margin-top: 20px;
  width: 100%;
  border: rgba(255, 222, 173, 0);
}
.modal-content .submit:hover {
  background-color: #379fef;
  cursor: pointer;
}
.modal-content .select {
  margin-left: 5px;
  padding: 5px;
}
.modal-content {
  min-width: 320px;
  margin-top: 5%;
  margin-bottom: 5%;
  padding-left: 5%;
  padding-right: 5%;
}
.modal-content .form-group {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}
.AddRequirementModal-InputItem {
  display: flex;
  flex-direction: column;
}
.AddRequirementModal-InputItem .Inputt {
  margin-top: 6px;
  border-radius: 7px;
  border-color: rgba(170, 169, 169, 0.823);
  min-height: 40px;
  text-align: left;
  text-indent: 5%;
}
.AddRequirementModal-InputItem .Inputt-requirementCateogries {
  margin-top: 10px;
  height: 80px;
  overflow-y: scroll;
  scrollbar-width: thin;
  box-shadow: 0px 5px 13px 0px rgba(0, 0, 0, 0.047);
  border: rgba(128, 128, 128, 0.478) solid 0.5px;
}

@media screen and (max-width: 600px) {
  .fullProfessorPage .container.AssignmentSection .profDB_UpperButtons button {
    font-size: 10px;
  }
  .fullProfessorPage .BBBBBB h2 {
  }
  .fullProfessorPage .container.AssignmentSection .sectionTitle {
    font-size: 19px;
    font-weight: bold;
    padding-right: 0px;
    margin-right: 0px;
    display: flex;
  }
  .fullProfessorPage .AssignmentSection .BBBBBB .FilterandSorting {
    width: 30%;
    margin-left: 10px;
  }
}
