.monem-dentist {
    background-image: url("https://wallpaperaccess.com/full/5750426.jpg");
    background-size: cover;
    background-position: center;
    height: 42rem;
}
.login-container {
    background-color: #b3e0ff;
    max-width: 350px;
    margin-left: 40%;
    padding: 50px;
    border-radius: 5px;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.login-title {
    color: #0073e6;
    text-align: center;
}

input[type="text"],
input[type="password"] {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #0073e6;
    border-radius: 5px;
    width: 100%;
}

button[type="submit"] {
    background-color: #0073e6;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 3rem;
}
