@use '../../_Variables.scss' as *;

// Define color variables
$border-color: #ddd;
$button-color: white;
$btnA-background-color: #DFECFC;
$btnA-hover-background-color: #cacdfb;
$btnB-background-color: var(--btnB);
$btnB-hover-background-color: var(--btnB-hover);
$text-color: var(--textColor);

.App {
  font-family: Arial, Helvetica, sans-serif;
}
// ASSIGNMENT SUBMISSION PAGE
.container_monemm {
  width: 80%;
  margin: auto;
  padding: 20px;
  background-color:var(--mainBackGround);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.12);
  display: flex;
  flex-direction: column;
  color:var(--text-monem);
  .header, .assignment-info {
    padding: 20px;
    label {
      display: block;
      margin-bottom: 10px;
      font-weight: bold;
    }
    input {
      width: 100%;
      padding: 10px;
      margin-bottom: 20px;
      border: 1px solid $border-color;
    }
  }
  .header
{
    text-align: center;
    width: 35%;
    float: left;
    p {
      text-align: left;
      margin-left: 8%;
      margin-top: -15px;
    }
    .submit_images{
        transform: scale(0.6);
        margin-left: -70px;
        margin-top: -79px;
    }
}
  .monem {
    display: flex;
  }
  .xray_image {
    width: 100%;
    padding-top: 7%;
    padding-bottom: 6%;
  }
  .assignment-info {
    width: 60%;
    float: right;
    margin-left: 0;
    h2 {
      width: 100%;
      padding-bottom: 15px;
      margin-bottom: 20px;
    }
  }
  .feedback {
    padding: 20px;
    border: 1px solid $border-color;
    margin: 20px 0;
    h3 {
      text-align: center;
    }
  }
  .button, .btnA, .btnB {
    padding: 10px 18px;
    border: none;
    cursor: pointer;
    width: 49.5%;
    font: 1em sans-serif;
    font-weight: 600;
  }
  .button {
    color: $button-color;
  }
  .btnA {
    background-color: $btnA-background-color;
    color: var(--textColor);
    margin-right: 0.5px;
    &:hover {
      background-color: $btnA-hover-background-color;
    }
  }
  .btnB {
    background-color: $btnB-background-color;
    &:hover {
      background-color: $btnB-hover-background-color;
    }
  }
  .assignment-submission-text2 {
    display: none;
  }
}

@media only screen and (max-width: 480px){
.container_monemm {
  width: 100%; 
  margin: 0;
  .header {
    .submit_images {
      img {
      }
    }
    p {
      text-align: center; 
      margin-top: 0.5rem; 
    }
  }
  .monem, .feedback {
    display: block; 
  }
}
.container_monemm {
  .header, .xray_image, .assignment-info {
    width: 100%;
    margin: 0;
  }
  .assignment-submission-text2 {
    display: block;
    text-align: center;
  }
  .assignment-submission-text {
    display: none;
  }
  .assignment-info {
    width: 90%;
    padding: 20px;
  }
  .feedback {
    h3 {
      text-align: center;
    }
  }
}
}
@media only screen and (max-width: 650px){
  .container_monemm {
    width: 100%; 
    margin: 0;
    .header {
      .submit_images {
        img {
        }
      }
      p {
        text-align: center; 
        margin-top: 0.5rem; 
      }
    }
    .monem, .feedback {
      display: block; 
    }
  }
  .container_monemm {
    .header, .xray_image, .assignment-info {
      width: 100%;
      margin: 0;
    }
    .assignment-submission-text2 {
      display: block;
      text-align: center;
    }
    .assignment-submission-text {
      display: none;
    }
    .assignment-info {
      width: 90%;
      padding: 20px;
    }
    .feedback {
      h3 {
        text-align: center;
      }
    }
  }
}
@media only screen and (max-width: 780px){
  .container_monemm {
    width: 100%; 
    .header {
      .submit_images {
        width: 90%;
        img {
        }
      }

    }

  }
  .container_monemm {
    .header, .xray_image, .assignment-info {
      margin: 0;
    }
    .assignment-submission-text2 {
      display: none;
      text-align: center;
    }
    .assignment-info {
      margin-left: 4rem;
      width: 60%;
      padding: 20px;
    }
    .feedback {
      h3 {
        text-align: center;
      }
    }
  }
}
@media only screen and (max-width: 960px){
  .container_monemm {
    width: 100%; 
    .header {
      
  
      .submit_images {
        
        img {
        }
      }
      p {
        text-align: center; 
        margin-top: 0.5rem; 
      }
    }
    .monem, .feedback {
    }
  }
  .container_monemm {
    
    .header, .xray_image, .assignment-info {
      margin: 0;
    }
    .assignment-submission-text2 {
      display: none;
      text-align: center;
    }
    .assignment-info {
      margin-left: 3rem;
      width: 60%;
      padding: 20px;
    }
    .feedback {
      h3 {
        text-align: center;
      }
    }
  }
}
@media only screen and (max-width: 1100px){
  .container_monemm {
    width: 100%; 
    .header {
      
  
      .submit_images {
        
        img {
        }
      }
      p {
        text-align: center; 
        margin-top: 0.5rem; 
      }
    }
    .monem, .feedback {
    }
  }
  .container_monemm {
    
    .header, .xray_image, .assignment-info {
      margin: 0;
    }
    .assignment-submission-text2 {
      display: none;
      text-align: center;
    }
    .assignment-info {
      margin-left: 3rem;
      width: 90%;
      padding: 20px;
    }
    .feedback {
      h3 {
        text-align: center;
      }
    }
  }
}