.login-container {
    max-width: 300px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    margin-top: 10%;
    flex-direction: column;
    text-align: center;
  }
  .login-container img{
    transform: scale(0.6);
    margin-top: -50px;
    margin-bottom: -25px;
  }
  .login-container input[type="text"], input[type="password"], input[type="email"] {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  .login-container button {
    background-color: #0073e6;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }

  .login-container button:hover {
    opacity: 0.8;
  }
  .login-container .submit{
    margin-bottom: 20px;
    background-color: rgb(43, 77, 247);
  }
 