$footer-background-color: #2d2d32;
$text-color: white;
$link-color: rgb(175, 175, 179);
$base-margin: 1rem;
$footer-padding-top: 25px;
$section-padding: 4rem;
$min-width-footer-links-div: 150px;
$header-margin-bottom: 0.9rem;
$link-font-size: 1em;
$smaller-link-font-size: 1em;
$img-width: 24px;
$img-width-smaller: 20px; 
$img-margin-right: 10px;
$hr-border-color: rgba(255, 255, 255, 0.2);

.footer {
  background-color: $footer-background-color;
  color: $text-color;
  padding-top: $footer-padding-top;
  .section__padding {
    padding: $section-padding;
  }
  .sb__footer {
    display: flex;
    flex-direction: column;
  }
  .sb__footer-links {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-bottom: 2rem;
    .sb__footer-links_div {
      margin: $base-margin;
      min-width: $min-width-footer-links-div;
      h4 {
        margin-bottom: $header-margin-bottom;
        font-size: 1.8em;
      }
      a p {
        font-size: $link-font-size;
        margin-bottom: 0.5rem;
        color: $link-color;
        text-decoration: none;
      }
    }
  }
  .socialmedia-icon img {
    width: $img-width;
    margin-right: $img-margin-right;
  }
  .sb__footer-below {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 1rem;
    p, a {
      font-size: $link-font-size;
      color: $text-color;
      text-decoration: none;

    }
    .sb__footer-below-links a p {
      margin-right: 20px;
      font-size: $smaller-link-font-size;
    }
    p {
      margin-right: 400px;
    }
  }
  hr {
    border-color: $hr-border-color;
    width: 100%;
  }
  .socialmedia, .sb__footer-below-links {
    display: flex;
  }
  // Responsive styling
  @media screen and (max-width: 850px) {
    .sb__footer-links {
      justify-content: space-around;
    }
    .socialmedia-icon img {
      width: $img-width-smaller;
    }
    .sb__footer-below-links a p {
      margin-right: 10px;
    }
  }
  @media screen and (max-width: 550px) {
    .sb__footer-below-links a p {
      margin-right: 5px;
    }
    .sb__footer-below p{
        text-align: center;
        margin-left: 40%;
    }
  }
}
