html {
  font-family: "Arial", sans-serif;
  scroll-behavior: smooth;
  /* font-size: 10px; b3d eznk ya youssef pasha bs da m2sr 3la hagat fe pages tanya - monem*/
}

/* sets */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a,
img,
span,
input,
button,
ion-icon {
  /* display: block;  b3d eznk ya youssef pasha bs da m2sr 3la hagat fe pages tanya -monem*/
}

.body {
  color: hsl(0, 0%, 47%);
  font-size: 1.5rem;
}

.HomePage .PageBody {
  font-family: Arial, sans-serif;
  background-position: static;
  background-blend-mode: hue;
  background-color: rgb(255, 255, 255);
  background-repeat: no-repeat;
  background-size: cover;
}
.HomePage .parent {
  margin: -2rem 1rem 30rem 1rem;
  padding: 2rem 2rem;
  text-align: center;
}
.HomePage .child {
  display: inline-block;
  padding: 1rem 1rem;
  vertical-align: middle;
  align-items: center;
}
.HomePage .title-line {
  margin-top: 200px;
}
.HomePage .scrollbar-item {
  min-width: calc(33.33% - 20px);
}
.HomePage .bg-image {
  background-color: #0e264f;
  padding-bottom: 30rem;
}
.HomePage .video {
  background-image: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fthink3dimaging.com%2F&psig=AOvVaw2_jtiONyR1J7gepS23USfn&ust=1711284495415000&source=images&cd=vfe&opi=89978449&ved=0CBIQjRxqFwoTCKikp9a1ioUDFQAAAAAdAAAAABAE");
  padding-block: 0;
  margin-block-end: -250px;
  margin-top: 50px;
}
.HomePage input,
.HomePage button {
  background: none;
  border: none;
  font: inherit;
}
.HomePage address {
  font-style: normal;
}
.HomePage .section-subtitle {
  color: hsl(225, 68%, 53%);
  font-family: "Arial", sans-serif;
  font-size: 1.8rem;
  font-weight: 700;
  text-transform: uppercase;
}

.HomePage .h1,
.HomePage .h2,
.HomePage .h3 {
  font-family: "Arial", sans-serif;
  line-height: 1.2;
}
.HomePage .h1 {
  color: hsl(218, 70%, 18%);
  font-size: 3.6rem;
}
.HomePage .h2,
.HomePage .h3 {
  color: hsl(217, 100%, 12%);
}
.HomePage .h2 {
  font-size: 4rem;
}
.HomePage .h3 {
  font-size: 2.2rem;
}
.HomePage .btn {
  margin-top: 2rem;
  background-image: linear-gradient(90deg, hsl(201, 92%, 47%) 0%, hsl(225, 68%, 53%) 100%);
  color: white;
  font-size: 1.6rem;
  width: 300px;
  text-transform: uppercase;
  padding: 20px 30px;
  text-align: center;
  border-radius: 4px;
  box-shadow: 0px 10px 30px hsla(0, 0%, 0%, 0.1);
}
.HomePage .btn:is(:hover, :focus) {
  --deg: -90deg;
}
.HomePage .w-100 {
  width: 80%;
  height: 80%;
}
.HomePage .text-center {
  text-align: center;
}
.HomePage .card-text,
.HomePage .header-top,
.HomePage .header-bottom {
  display: none;
}

@keyframes slideIn {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100%);
  }
}

.HomePage .header-bottom > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.HomePage .doctor {
  background-color: hsl(218, 70%, 18%);
  margin-top: 500px;
}
.HomePage .doctor-banner {
  margin-block-end: 50px;
}
.HomePage .doctor .section-subtitle {
  text-transform: capitalize;
}
.HomePage .doctor .section-title {
  color: white;
  font-size: 3.2rem;
  margin-block-end: 30px;
}
.HomePage .doctor .btn {
  max-width: max-content;
}
.HomePage .Human {
  display: flex;
  align-items: center;
  margin-top: 20rem;
  gap: 15px;
}
.HomePage .Human {
  line-height: 1.6;
}
.HomePage .hero-title {
  font-size: 7rem;
}
.HomePage .scroll-container {
  display: flex;
  background-color: #0d254f;
  overflow: auto;
  overflow-y: hidden;
  white-space: nowrap;
  padding: 10px;
}
.HomePage .scroll-container img {
  border-radius: 50px;
  padding: 2rem;
  width: 600px;
  margin-bottom: 50px;
  white-space: var(--white);
  height: 400px;
}

.HomePage .space {
  background-color: #0d254f;
  padding-top: 50px;
}
.HomePage .scroll-container img:hover {
  transform: scale(1.1);
  transition: ease-in 0.24s;
}

.HomePage .scroll-container::-webkit-scrollbar {
  height: 1.5rem;
}

.HomePage .scroll-container::-webkit-scrollbar-track,
.HomePage .scroll-container::-webkit-scrollbar-thumb {
  border-radius: 50px;
}

.HomePage .scroll-container::-webkit-scrollbar-thumb:hover {
  background-color: hsl(209, 100%, 49%);
}

.HomePage .scroll-container::-webkit-scrollbar-button {
  width: calc(22% - 25px);
}

.HomePage ::-webkit-scrollbar {
  width: 10px;
}

.HomePage ::-webkit-scrollbar-track {
  background-color: hsl(0, 0%, 80%);
}

.HomePage ::-webkit-scrollbar-thumb {
  background-color: hsl(209, 100%, 49%);
}

.HomePage ::-webkit-scrollbar-thumb:hover {
  background-color: hsl(210, 26%, 11%);
}

.HomePage .mg-30 {
  margin-top: 30rem;
  margin-bottom: 30rem;
}

.HomePage .img1 {
  position: relative;
  width: 300px;
}

@media (max-width: 100em) {
  .HomePage .w-100 {
    width: 30%;
    height: 30%;
    margin: 0 auto;
  }
  .HomePage .Human {
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;

    .HomePage .btn {
      display: block;
      margin: 0 auto;
    }
  }
}

.HomePage bodY {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.HomePage .center {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
