.editPage{
  .title{

    width: 80%;
    margin: 20px auto;
    text-align: center;


    
  }
  .main{
    width: 80%;
    margin: auto;
    .row{
      display: flex;
      align-items: center;
      gap: 10px;
      width: 40%;
      span{
        width: 220px;
      }
    }
    .saveBTN{
      cursor: pointer;
      text-align: center;
      background-color: green;
      color: white;
      text-transform: capitalize;
      font-size: 20px;
      font-weight: bold;
      padding: 16px;
      outline: none;
      border: none;
      border-radius: 8px;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      -ms-border-radius: 8px;
      -o-border-radius: 8px;
}
  }
}