@use "../../breakpoints" as *;

// Variables for colors
$main-color: hsl(209, 100%, 49%);
$main-color-dark: hsl(209, 100%, 40%);
$background-color: #f0f0f0;
$border-color: #ddd;
$text-color: #333;
$hover-background-color: #f1f1f1;

.AddGroup {
  font-family: "Arial", sans-serif;
  color: $text-color;
  padding: 20px;
  background: $background-color;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow-x: auto;

  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;

    th,
    td {
      padding: 10px;
      text-align: left;
      border-bottom: 1px solid $border-color;
    }

    th {
      background: $main-color;
      color: #fff;
      text-transform: uppercase;
    }

    td button {
      padding: 5px 10px;
      background: $main-color;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: transform 0.3s, background 0.3s;

      &:hover {
        transform: scale(1.1);
      }
    }

    .Del {
      background: red;
      margin-right: 10px;
    }

    @include breakpoint(800px) {
      font-size: 12px;
      th,
      td {
        font-size: 8px;
        padding: 5px !important;
      }
      .Del {
        margin-bottom: 10px;
      }
    }

    @include md() {
      font-size: 10px;
    }
  }
  .Buttons {
    display: flex;
    flex-direction: row;
    @include breakpoint(820px) {
      flex-direction: column;
      width: 100%;
    }
  }

  .section1 {
    margin-bottom: 20px;

    label {
      display: block;
      margin-bottom: 5px;
      font-weight: bold;
    }

    input[type="text"] {
      width: 100%;
      padding: 10px;
      border: 1px solid $border-color;
      border-radius: 5px;
      margin-bottom: 10px;
    }

    .NEW {
      display: inline-block;
      padding: 10px 20px;
      background: $main-color;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background 0.3s;

      &:hover {
        background: $main-color-dark;
      }
    }
  }

  .row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 10px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

    .section {
      flex: 1;
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }

      label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
      }

      select,
      input[type="number"],
      input[type="text"] {
        width: 100%;
        padding: 8px;
        border: 1px solid $border-color;
        border-radius: 5px;
      }
    }

    @include breakpoint(650px) {
      flex-direction: column !important;
    }
  }

  .Buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

    .MainButton {
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background 0.3s;

      &.sub {
        background: $main-color;
        color: #fff;

        &:hover {
          background: $main-color-dark;
        }

        &:disabled {
          background: #ccc;
          cursor: not-allowed;
        }
      }
    }
  }
}

[theme="Dark"] {
  .AddGroup {
    background-color: #151b20;
  }

  tbody tr:nth-child(even) {
    background-color: #2c3845;
    color: white;
  }
  tbody tr:nth-child(odd) {
    background-color: #202932;
    color: white;
  }
}
