@use '../../_Variables.scss' as *;
@import "./_breakpoints";


body{
  background-color: var(--mainBackGround);
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.AssCard.container {
  .Card {
    -webkit-box-shadow: 6px 2px 28px -9px rgba(0,0,0,0.47);
    -moz-box-shadow: 6px 2px 28px -9px rgba(0,0,0,0.47);
    box-shadow: 6px 2px 28px -9px rgba(0,0,0,0.47);
    // background-color: #eeeeee57;
    padding: 10px 0 10px 30px;
    padding-left: 30px;
    border-radius: 10px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: auto 1fr;
    width: 90%;
    margin-bottom: 50px;
    // grid-template-columns: 1fr;
    @include breakpoint(400){
      grid-template-columns: 1fr;
    }
    @include lg() {
      grid-template-columns: auto 1fr;
    }
    @include xs(){
    }
    @include sm() {
      grid-template-columns: 1fr;
    }

    .Images {
      display: flex;
      flex-direction: column;
      width: fit-content;
      position: relative;
      @include sm() {
        margin: auto;
      }
      @include lg() {
        margin: auto;
      }

      .singleImage {
        position: relative;
        img {
          width: 200px;
          height: 200px;
          width: 200px;
          height: 200px;
          border-radius: 10px;
          -webkit-border-radius: 10px;
          -moz-border-radius: 10px;
          -ms-border-radius: 10px;
          -o-border-radius: 10px;
          }
        
        .left-Arrow {
          cursor: pointer;
          position: absolute;
          top: 50%;
          left: -20px;
          font-size: 30px;
          transform: rotate(90deg);
          -webkit-transform: rotate(90deg);
          -moz-transform: rotate(90deg);
          -ms-transform: rotate(90deg);
          -o-transform: rotate(90deg);
          color: var(--mainColor);
        }

        .right-Arrow {
          cursor: pointer;
          position: absolute;
          top: 50%;
          //left: 250px;
          // right: -25px;
          //transform: rotateY(180deg);
          font-size: 30px;
          transform: rotate(-90deg);
          -webkit-transform: rotate(-90deg);
          -moz-transform: rotate(-90deg);
          -ms-transform: rotate(-90deg);
          -o-transform: rotate(-90deg);
          color: var(--mainColor);
        }
      }

      .status {
        padding: 2px 5px;
        display: flex;
        justify-content: space-between;
        border: 1px solid #0082e6;
        border: 3px solid var(--textColor);
        border-top-left-radius: 12px;
        border-bottom-right-radius: 12px;
        .AssName,
        .Slider {
          font-weight: bold;
          color: #36A3C4;
          color: var(--textColor);
        }
      }
    }
  }

  .attrs {
    margin-left: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-left: 20px;
    padding-top: 5px;
    gap: 10px;
    margin: auto;
    @include xl() {
      margin-left: 20px;
      margin: auto;
      // gap: 10px;
      padding-left: 10px;
    }
    @include lg() {
      grid-template-columns: 1fr;
      margin: auto;
      // gap: 10px;
      padding-left: 5px;
    }
    @include sm() {
      grid-template-columns: 1fr;
      padding-left: 5px;
      margin: auto;
      // gap: 10px;
    }
    .Attribute {
      display: flex;
      flex-wrap: wrap;
      margin-right: auto;
    }

    .Key {
      text-transform: capitalize;
      font-weight: bold;
      font-size: 20px;
      color: white;
      background-color: var(--mainColor);
      // background-color: #2485f0;
      border-radius: 6px;
      padding: 5px;
      // margin: 20px 5px 20px 0px;
      height: fit-content;
      width: 162px;
      text-align: center;
      @include xl() {
        font-size: 18px;
      }
      @include lg() {
        font-size: 18px;
        font-weight: bold;
        // margin: 5px;
      }
      @include sm() {
        font-size: 14px;
        font-weight: 600;
        // margin: 5px;
      }
    }

    .Value {
      font-weight: bold;
      font-size: 16px;
      color: var(--textColor);
      // background-color: #DFECFC;
      margin: 1px 3px;
      border: 1px solid var(--mainColor);
      border-radius: 6px;
      padding: 5px;
      // margin: 20px 5px 20px 0px;
      height: fit-content;
      @include xl() {
        font-size: 14px;
      }
      @include lg() {
        font-size: 12px;
        // margin: 5px;
        font-weight: bold;
      }
      @include sm() {
        font-size: 10px;
        // margin: 5px;
        font-weight: bold;
      }
    }
  }
}
