@import "./_breakpoints";




.AssCard.container {
  .Card {
    background-color: #eeeeee57;
    border-radius: 10px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: auto 1fr;
    // width: 85%;
    @include sm(){
      grid-template-columns: 1fr;
    }
    @include lg(){
      grid-template-columns: 1fr;
    }
    
    .Images {
      display: flex;
      flex-direction: column;
      width: fit-content;
      position: relative;
      @include sm(){
        margin: auto;
      }
      @include lg(){
        margin: auto;
      }

      .singleImage {
        position: relative;
        img{
          width: 250px;
          height: 250px;
          @include xl(){
            width: 200px;
            height: 200px;
            
          }
        }
        .left-Arrow {
          cursor: pointer;
          position: absolute;
          top: 50%;
          left: -20px;
          font-size: 25px;
        }
  
        .right-Arrow {
          cursor: pointer;
          position: absolute;
          top: 50%;
          // left: 250px;
          right: -25px;
          font-size: 25px;
          transform: rotateY(180deg); /* Rotate horizontally */
          }
        }

        .status{
          padding: 2px 5px;
          display: flex;
          justify-content: space-between;
          .AssName, .Slider{
            font-weight: bold;
            color: #2485f0;
          }
        }
      }

    }

    .attrs {
      margin-left: 30px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      padding-left: 20px;
      padding-top: 5px;
      gap: 40px;
      @include sm(){
        grid-template-columns: 1fr;
        gap: 10px;
        padding-left: 5px;
      }
      @include lg(){
        grid-template-columns: 1fr;
        gap: 10px;
        padding-left: 5px;
      }
      @include xl(){
        margin-left: 20px;
        gap: 20px;
        padding-left: 10px;
      }

      .Key {
        text-transform: capitalize;
        font-weight: bold;
        font-size: 25px;
        color: white;
        background-color: #2485F0;
        border-radius: 6px;
        padding: 5px;
        margin: 20px 5px 20px 0px;
        @include sm(){
          font-size: 16px;
          font-weight: 600;
          margin: 5px;
        }
        @include lg(){
          font-size: 20px;
          font-weight: bold;
          // margin: 5px;
        }
        @include xl(){
          font-size: 20px;
        }
      }

      .Value {
        font-weight: bold;
        font-size: 18px;
        color: #2485F0;
        background-color: #DFECFC;
        border-radius: 6px;
        padding: 5px;
        margin: 20px 5px 20px 0px;
        @include sm(){
          font-size: 12px;
          margin: 5px;
          font-weight: bold;
        }
        @include lg(){
          font-size: 14px;
          margin: 5px;
          font-weight: bold;
        }
        @include xl(){
          font-size: 16px;

        }
      }
    }
}

