:root {
  --mainBackGround: #F5FBF9;
  --mainColor: #0082e6;
  --secondText: #65b4f1;
  --textColor: var(--mainColor);
  --headerColor: #0082e6;
  --text-monem:rgb(20, 19, 19);
  --btnB:#2450f1;
  --btnB-hover:#14319b;
  --sidebar-expanded-margin: 200px;
  --sidebar-default-margin: 70px;
  --mainText: black;
  --secondaryText: #777;
}

[theme=Dark] {
  --mainColor: #4d8ba8;
  --mainBackGround: #1b343c;
  --secondText: #65b4f1;
  --textColor: #96bdcf;
  --headerColor: #4d8ba8;
  --text-monem:rgb(230, 230, 230);
  --btnB:#4d8ba8;
  --btnB-hover:#356981;
  --mainText: white;
  --secondaryText: #a9a9a9;
}

body {
  background-color: var(--mainBackGround);
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.AssCard.container .Card {
  box-shadow: 6px 2px 28px -9px rgba(0, 0, 0, 0.47);
  padding: 10px 0 10px 30px;
  padding-left: 30px;
  border-radius: 10px;
  margin: 20px auto;
  display: grid;
  grid-template-columns: auto 1fr;
  width: 90%;
  margin-bottom: 50px;
}
@media (max-width: 400) {
  .AssCard.container .Card {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 960px) {
  .AssCard.container .Card {
    grid-template-columns: auto 1fr;
  }
}
@media (max-width: 480px) {
  .AssCard.container .Card {
    grid-template-columns: 1fr;
  }
}
.AssCard.container .Card .Images {
  display: flex;
  flex-direction: column;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
}
@media (max-width: 480px) {
  .AssCard.container .Card .Images {
    margin: auto;
  }
}
@media (max-width: 960px) {
  .AssCard.container .Card .Images {
    margin: auto;
  }
}
.AssCard.container .Card .Images .singleImage {
  position: relative;
}
.AssCard.container .Card .Images .singleImage img {
  width: 200px;
  height: 200px;
  width: 200px;
  height: 200px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.AssCard.container .Card .Images .singleImage .left-Arrow {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: -20px;
  font-size: 30px;
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  color: var(--mainColor);
}
.AssCard.container .Card .Images .singleImage .right-Arrow {
  cursor: pointer;
  position: absolute;
  top: 50%;
  font-size: 30px;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  color: var(--mainColor);
}
.AssCard.container .Card .Images .status {
  padding: 2px 5px;
  display: flex;
  justify-content: space-between;
  border: 1px solid #0082e6;
  border: 3px solid var(--textColor);
  border-top-left-radius: 12px;
  border-bottom-right-radius: 12px;
}
.AssCard.container .Card .Images .status .AssName,
.AssCard.container .Card .Images .status .Slider {
  font-weight: bold;
  color: #36A3C4;
  color: var(--textColor);
}
.AssCard.container .attrs {
  margin-left: 30px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-left: 20px;
  padding-top: 5px;
  gap: 10px;
  margin: auto;
}
@media (max-width: 1200px) {
  .AssCard.container .attrs {
    margin-left: 20px;
    margin: auto;
    padding-left: 10px;
  }
}
@media (max-width: 960px) {
  .AssCard.container .attrs {
    grid-template-columns: 1fr;
    margin: auto;
    padding-left: 5px;
  }
}
@media (max-width: 480px) {
  .AssCard.container .attrs {
    grid-template-columns: 1fr;
    padding-left: 5px;
    margin: auto;
  }
}
.AssCard.container .attrs .Attribute {
  display: flex;
  flex-wrap: wrap;
  margin-right: auto;
}
.AssCard.container .attrs .Key {
  text-transform: capitalize;
  font-weight: bold;
  font-size: 20px;
  color: white;
  background-color: var(--mainColor);
  border-radius: 6px;
  padding: 5px;
  height: -moz-fit-content;
  height: fit-content;
  width: 162px;
  text-align: center;
}
@media (max-width: 1200px) {
  .AssCard.container .attrs .Key {
    font-size: 18px;
  }
}
@media (max-width: 960px) {
  .AssCard.container .attrs .Key {
    font-size: 18px;
    font-weight: bold;
  }
}
@media (max-width: 480px) {
  .AssCard.container .attrs .Key {
    font-size: 14px;
    font-weight: 600;
  }
}
.AssCard.container .attrs .Value {
  font-weight: bold;
  font-size: 16px;
  color: var(--textColor);
  margin: 1px 3px;
  border: 1px solid var(--mainColor);
  border-radius: 6px;
  padding: 5px;
  height: -moz-fit-content;
  height: fit-content;
}
@media (max-width: 1200px) {
  .AssCard.container .attrs .Value {
    font-size: 14px;
  }
}
@media (max-width: 960px) {
  .AssCard.container .attrs .Value {
    font-size: 12px;
    font-weight: bold;
  }
}
@media (max-width: 480px) {
  .AssCard.container .attrs .Value {
    font-size: 10px;
    font-weight: bold;
  }
}/*# sourceMappingURL=Card.css.map */