.cont-404 {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.cont-404 img {
  height: 70vh;
  width: 50vw;
}
.cont-404 a {
  padding: 12px 15px;
  background-color: #9253ff;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  color: white;
  transition: 0.3s;
  font-weight: bold;
}

.cont-404 a:hover {
  background-color: #7e57c2;
}
