:root {
  --mainBackGround: #f5fbf9;
  --mainColor: #0082e6;
  --secondText: #65b4f1;
  --textColor: var(--mainColor);
  --headerColor: #0082e6;
  --text-monem: rgb(20, 19, 19);
  --btnB: #2450f1;
  --btnB-hover: #14319b;
  --sidebar-expanded-margin: 200px;
  --sidebar-default-margin: 70px;
  --mainText: black;
  --secondaryText: #777;
  --Gridfooter: #2450f1;
}

[theme="Dark"] {
  --mainColor: #4d8ba8;
  --mainBackGround: #1b343c;
  --secondText: #65b4f1;
  --textColor: #96bdcf;
  --headerColor: #4d8ba8;
  --text-monem: rgb(230, 230, 230);
  --btnB: #4d8ba8;
  --btnB-hover: #356981;
  --mainText: white;
  --secondaryText: #a9a9a9;
  --Gridfooter: #284d5e;
}

.MuiDataGrid-columnHeader {
  background-color: var(--Gridfooter);
  border-bottom: none;
  color: white;
}
.MuiDataGrid-footerContainer {
  background-color: var(--Gridfooter);
}
.MuiTablePagination-displayedRows {
  color: white;
}
.MuiButtonBase-root {
  color: white;
}
.MuiSvgIcon-root {
  color: white;
}
.MuiTablePagination-selectLabel {
  color: white;
}
.MuiSelect-select {
  color: white;
}
