.footer-feedback {
    background-color: #dddddddb;
    padding: 20px;
    text-align: center;
    height: 370px;
  }
  
  .feedback-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  

  .FooterText{
    float: left;
    width: 55%;
    margin-left: -230px;
    text-align: left;
    margin-top: 30px;
    font-size: 25px;
  }
  .feedback-container h2 {
    color: blue;
    margin-bottom: 10px;
    font-size: 22px;
  }
  .feedback-container p {
    color: #666;
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .feedback-form {
    gap: 20px;
    margin-top: 5px;
    float: right;
    width: 50%;
    margin-right: -190px;
  }
  
  .feedback-form .form-group {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .feedback-form .form-group label {
    margin-bottom: 5px;
    margin-top: 2%;
    font-weight: bold;
    text-align: left;
  }
  
  .feedback-form .form-group input,
  .feedback-form .form-group textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .feedback-form .form-group textarea {
    height: 100px;
    resize: vertical;
    margin-bottom: -20px;
  }
  
  .submit-btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
  }  
  .submit-btn:hover {
    background-color: #0056b3;
  }
  @media (max-width: 768px) {
    .feedback-form {
      flex-direction: column;
    }
  }
  