:root {
  --mainBackGround: #F5FBF9;
  --mainColor: #0082e6;
  --secondText: #65b4f1;
  --textColor: var(--mainColor);
  --headerColor: #0082e6;
  --text-monem:rgb(20, 19, 19);
  --btnB:#2450f1;
  --btnB-hover:#14319b;
  --sidebar-expanded-margin: 200px;
  --sidebar-default-margin: 70px;
}

[theme=Dark] {
  --mainColor: #4d8ba8;
  --mainBackGround: #1b343c;
  --secondText: #65b4f1;
  --textColor: #96bdcf;
  --headerColor: #4d8ba8;
  --text-monem:rgb(230, 230, 230);
  --btnB:#4d8ba8;
  --btnB-hover:#356981;
}

.Home2Page {
  background-color: rgba(221, 221, 221, 0.168627451);
}
.Home2Page .login-wrapper {
  transform: scale(1.2);
  margin-top: 3%;
  margin-bottom: 4%;
  display: flex;
  justify-content: center;
  height: 59vh;
  padding: 20px;
  background: Var(--mainBackGround);
  width: 87.5%;
  margin-left: 50px;
}
.Home2Page .login-wrapper .login-content {
  display: flex;
  max-width: 1100px;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: 4%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.024);
}
.Home2Page .login-wrapper .login-content .text-section {
  padding: 40px;
  background-color: Var(--mainBackGround);
  flex: 1;
}
.Home2Page .login-wrapper .login-content .text-section h1 {
  margin: 0 0 20px 0;
  font-size: 24px;
  color: var(--text-monem);
}
.Home2Page .login-wrapper .login-content .text-section .titleblue {
  color: var(--textColor);
  display: inline;
}
.Home2Page .login-wrapper .login-content .text-section p {
  font-size: 14px;
  color: var(--text-monem);
  line-height: 1.4;
  margin-bottom: 20px;
}
.Home2Page .login-wrapper .login-content .text-section .login-form {
  display: flex;
  flex-direction: column;
}
.Home2Page .login-wrapper .login-content .text-section .login-form input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
}
.Home2Page .login-wrapper .login-content .text-section .login-form button {
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: var(--btnB);
  color: Var(--mainBackGround);
  font-size: 14px;
  cursor: pointer;
}
.Home2Page .login-wrapper .login-content .text-section .login-form button:hover {
  background-color: var(--btnB-hover);
}
.Home2Page .login-wrapper .login-content .image-section {
  flex: 1;
  background-color: Var(--mainBackGround);
}
.Home2Page .login-wrapper .login-content .image-section img {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5%;
}
.Home2Page .videocomponent2 {
  width: 100%;
  background-color: Var(--mainBackGround);
  padding-top: 15px;
}
.Home2Page .videocomponent2 .video-component {
  display: flex;
  background-color: Var(--mainBackGround);
  border-radius: 10px;
  overflow: hidden;
  max-width: 1350px;
  height: 450px;
  margin: 30px;
  margin-left: 50px;
}
.Home2Page .videocomponent2 .video-component .video-wrapper {
  flex: 1;
}
.Home2Page .videocomponent2 .video-component .video-wrapper .video-iframe {
  width: 100%;
  height: 100%;
}
.Home2Page .videocomponent2 .video-component .description-wrapper {
  flex: 1;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Home2Page .videocomponent2 .video-component .description-wrapper p {
  margin: 0;
  color: #333;
  font-size: 16px;
}
.Home2Page .videocomponent2 .video-component .description-wrapper .textbackground {
  background-color: #ddd;
  height: 40%;
  width: 80%;
  display: grid;
  place-items: center;
  border-radius: 4%;
  padding: 15px;
}/*# sourceMappingURL=Homeee2.css.map */