// Define color scheme and reusable properties as variables
$admin-background-color: var(--mainBackGround);
$chart-background-color: white;
$transition-time: 0.5s;
$sidebar-expanded-margin: 200px;
$default-margin: 70px;
$stats-gap: 20px;

// Global styles can be defined outside any class if needed

// MainPage styles
.MainPage {
  background-color: $admin-background-color;
  .AdminBody {
    background-color: $admin-background-color;
  }

  .Charts {
    display: flex;
    flex-direction: row;
    padding: 10px 1%;

    .stats-row {
      margin-bottom: $stats-gap;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      width: 60%;
      gap: $stats-gap;
    }

    .chart-row {
      width: 50%;
      height: 100%;
      margin: auto;
      margin-left: 10%;
      background-color: $chart-background-color;
    }
  }

  & { // This seems redundant, double-check if this is necessary. If it's a mistake, it can be removed or corrected.
    position: relative;
  }

  .AdminBody {
    background-color: $admin-background-color;
  }

  .AdminSection {
    padding: 10px 1%;
    // margin-left: $default-margin;
    transition: all $transition-time;
  }

  // .openSideBar {
  //   margin-left: $sidebar-expanded-margin !important;
  // }
}
