/* src/App.MainPage  .css */
.AdminBody {
  background-color: #f1f1f2;
}

.MainPage .Charts {
  display: flex;
  flex-direction: row;
  /* background-color: #f1f1f2; */
  padding: 10px 1%;
  /* margin-left: 200px; */
}

.MainPage .stats-row {
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 60%;
  gap: 20px;
}

.MainPage .chart-row {
  width: 50%;
  height: 100%;
  margin: auto;
  margin-left: 10%;
  background-color: white;
}
.MainPage .MainPage {
  position: relative;
}

.MainPage .AdminBody {
  background-color: #f1f1f2;
}
.MainPage .AdminSection {
  padding: 10px 1%;
  margin-left: 70px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.openSideBar {
  margin-left: 200px !important;
}
