.stat-card {
  border: 1px solid #eee;
  border-radius: 8px;
  text-align: center;
  color: white;
  padding: 12px;
}
.value {
  font-size: 20px;
  font-weight: bold;
  padding: 10px 0;
}
.percentage {
  font-size: 16px;
}
.a {
  background-color: #6a73fa;
}
.b {
  background-color: #ffaa16;
}
.c {
  background-color: #673bb7;
}
.d {
  background-color: #ff1616;
}
