:root{
  --mainBackGround: #F5FBF9;
  // over view Assignment Page;
  --mainColor: #0082e6;
  --secondText: #65b4f1;
  --textColor: var(--mainColor);
  --headerColor: #0082e6;
  // assignment upload page 
  --text-monem:rgb(20, 19, 19);
  --btnB:#2450f1;
  --btnB-hover:#14319b;
  // Side bar
  --sidebar-expanded-margin: 200px;
  --sidebar-default-margin: 70px;
}



[theme="Dark"]{
  --mainColor: #4d8ba8;
  --mainBackGround: #1b343c;
  --secondText: #65b4f1;
  --textColor: #96bdcf;
  --headerColor: #4d8ba8;
  // assignment upload page 
  --text-monem:rgb(230, 230, 230);
  --btnB:#4d8ba8;
  --btnB-hover:#356981;
}