// :root{
// Light as Default
:root{
  --mainBackGround: #F5FBF9;
  --mainColor: #0082e6;
  --secondText: #65b4f1;
  --textColor: var(--mainColor);
  --headerColor: #0082e6;
/////assignment upload page w ymkn n7tagha fe haga tanya///////////////////////////
  --text-monem:rgb(20, 19, 19);
  --btnB:#2450f1;
  --btnB-hover:#14319b;
}


[theme="Dark"]{
  --mainColor: #4d8ba8;
  --mainBackGround: #1b343c;
  --secondText: #65b4f1;
  --textColor: #96bdcf;
  --headerColor: #4d8ba8;
////////////////////////////////
--text-monem:rgb(230, 230, 230);
--btnB:#4d8ba8;
--btnB-hover:#356981;

}