.mail-form form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  max-width: 500px;
  margin: 1%;
  padding: 1%;
  background: white;
  border-radius: 10px;
}
.mail-form input,
.mail-form button {
  padding: 10px;
  outline: none;
  border: none;
  border: 3px solid #f1f1f1;
  border-radius: 10px;
}
.mail-form button {
  font-weight: bold;
  font-size: 20px;
  background-color: var(--btnB);
}
.react-quill {
  background-color: white;
}
.messageArea {
  height: 240px;
  background-color: #e5e1e134;
  max-height: 260px;
}

.mail-form button {
  background-color: var(--btnB);
  color: white;
  cursor: pointer;
  background-color: var(--btnB);
}
.mail-form button:hover {
  background-color: var(--btnB-hover);
}
