.App {
  font-family: sans-serif;
}
/*** ASSIGNMENT SUBMISSION PAGE ***/
.container_monemm  {
  width: 80%;
  margin: auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}
.container_monemm  .header {
  text-align: center;
  padding: 20px;
  width: 35%;
  float:left;
}
.container_monemm  .monem{
  display: flex;
}
.container_monemm  .header p{
  text-align: left;
  margin-left: 8%;
}
.container_monemm .xray_iamge{
  width:100%;
  padding-top: 7%;
  padding-bottom: 6%;
}
.container_monemm  .assignment-info{
  width: 60%;
  float:right;
  margin-left: 0;
  padding: 20px;
}
.container_monemm  .feedback {
  padding: 20px;
  border: 1px solid #ddd;
  margin: 20px 0;
}
.container_monemm  .assignment-info label, .feedback label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}
.container_monemm  .assignment-info input, .feedback input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
}
.container_monemm  .assignment-info h2{
  width: 100%;
  padding-bottom: 15px;
  margin-bottom: 20px;
}
.container_monemm  .button {
  background-color: #5cb85c;
  color: white;
  padding: 10px 18px;
  border: none;
  cursor: pointer;
  width: 49.5%;
  font: 1em sans-serif;
  font-weight: 600;
}
.container_monemm  .btnA {
  background-color: #DFECFC;
  color:black;
  margin-right: 0.5px;
}
.container_monemm .btnA:hover {
  background-color: #dfe1ff;
}
.container_monemm .btnB{
  background-color: #2485F1;
}
.container_monemm .btnB:hover{
 background-color:  #2450f1;
}
.container_monemm .assignment-submission-text2{
  display: none;
}
@media only screen and (max-width: 650px) {
  .container_monemm .header{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }
  .container_monemm .xray_iamge{
    
    width: 70%;
  }
  .container_monemm  .assignment-submission-text2{
    display: block;
    text-align: center;
  }
  .container_monemm .assignment-submission-text{
    display: none;
  }
  .container_monemm .assignment-info{
    width: 90%;
    margin-left: 0;
    padding: 20px;
  }
  .container_monemm .feedback h3{
 text-align: center;
  }

}