:root {
  --mainBackGround: #F5FBF9;
  --mainColor: #0082e6;
  --secondText: #65b4f1;
  --textColor: var(--mainColor);
  --headerColor: #0082e6;
  --text-monem:rgb(20, 19, 19);
  --btnB:#2450f1;
  --btnB-hover:#14319b;
  --sidebar-expanded-margin: 200px;
  --sidebar-default-margin: 70px;
  --mainText: black;
  --secondaryText: #777;
}

[theme=Dark] {
  --mainColor: #4d8ba8;
  --mainBackGround: #1b343c;
  --secondText: #65b4f1;
  --textColor: #96bdcf;
  --headerColor: #4d8ba8;
  --text-monem:rgb(230, 230, 230);
  --btnB:#4d8ba8;
  --btnB-hover:#356981;
  --mainText: white;
  --secondaryText: #a9a9a9;
}

.fullPage {
  padding-top: 16px;
  width: 80%;
  margin: auto;
}
.fullPage .container.AssignmentSection {
  width: 60%;
}
.fullPage .container.AssignmentSection .sectionTitle {
  font-size: 25px;
  font-weight: bold;
  padding: 16px 0 8px;
  color: var(--mainText);
}
.fullPage .container.AssignmentSection .AssCard {
  box-shadow: 0px 5px 13px 0px rgba(0, 0, 0, 0.25);
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.fullPage .container.AssignmentSection .AssCard .info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.fullPage .container.AssignmentSection .AssCard .info .name {
  font-size: 20px;
  font-weight: bold;
  text-transform: capitalize;
  color: var(--mainText);
}
.fullPage .container.AssignmentSection .AssCard .info .Details {
  color: var(--secondaryText);
}
.fullPage .container.AssignmentSection .AssCard .grade {
  font-size: 20px;
  font-weight: bold;
  color: var(--secondaryText);
}
.fullPage .container.AssignmentSection .AssCard .state {
  padding: 16px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-transform: capitalize;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.fullPage .cc1 {
  width: 60%;
}