.modal-backdrop {
  /* position: fixed;
  top: 0;
  left: 0; */
  width: 100%;
  height: 100%;
  /* background: rgba(0, 0, 0, 0.5); */
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  height: 60%;
  width: 60%;
}

.submission-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  cursor: pointer;
}

.image-slider {
  position: relative;
  text-align: center;
  margin-top: -250px;
  /* background-color: rgba(0, 0, 0, 0.399); */
  height: 1000px;
  top: 1px;
  /* margin-top: -340px; */
}

.large-image {
  max-width: 100%;
  max-height: 80vh;
  /* margin-top: -60px; */
}

.prev-button,
.next-button {
  cursor: pointer;
  position: absolute;
  top: 35%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.582);
  color: white;
  border: none;
  padding: 10px;
  font-size: 18px;
  border-radius: 50%;
  user-select: none;
}

.prev-button {
  left: 10px;
}

.next-button {
  right: 10px;
}
.closeButton {
  position: absolute;
  top: 60px;

  background-color: rgba(0, 0, 128, 0);
  color: aliceblue;
  border-color: rgba(255, 222, 173, 0) transparent;
  color: red;
  cursor: pointer;
  font-size: 45px;
  font-weight: bold;
}
